TrafficPoliceDesktopApp/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFDBService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserByIdAndPass_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdAndPass" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserByIdAndPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdAndPassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReadOnlyUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReadOnlyUserById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReadOnlyUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReadOnlyUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUserAndGetGeneratedId_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserAndGetGeneratedId" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUserAndGetGeneratedId_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserAndGetGeneratedIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCat_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCat" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCatResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRegistration" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterDriverOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterDriverOwner" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterDriverOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterDriverOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDriverOwnerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDriverOwnerById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDriverOwnerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriverOwnerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removePenalty_InputMessage">
    <wsdl:part name="parameters" element="tns:removePenalty" />
  </wsdl:message>
  <wsdl:message name="IService1_removePenalty_OutputMessage">
    <wsdl:part name="parameters" element="tns:removePenaltyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAvailableCarTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:getAvailableCarTypes" />
  </wsdl:message>
  <wsdl:message name="IService1_getAvailableCarTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAvailableCarTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getRegByRegNum_InputMessage">
    <wsdl:part name="parameters" element="tns:getRegByRegNum" />
  </wsdl:message>
  <wsdl:message name="IService1_getRegByRegNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRegByRegNumResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateUser" message="tns:IService1_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateUserResponse" message="tns:IService1_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByIdAndPass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserByIdAndPass" message="tns:IService1_GetUserByIdAndPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserByIdAndPassResponse" message="tns:IService1_GetUserByIdAndPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReadOnlyUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetReadOnlyUserById" message="tns:IService1_GetReadOnlyUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetReadOnlyUserByIdResponse" message="tns:IService1_GetReadOnlyUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserAndGetGeneratedId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertUserAndGetGeneratedId" message="tns:IService1_InsertUserAndGetGeneratedId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertUserAndGetGeneratedIdResponse" message="tns:IService1_InsertUserAndGetGeneratedId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCat" message="tns:IService1_InsertCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertCatResponse" message="tns:IService1_InsertCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertRegistration" message="tns:IService1_InsertRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertRegistrationResponse" message="tns:IService1_InsertRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterDriverOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterDriverOwner" message="tns:IService1_RegisterDriverOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterDriverOwnerResponse" message="tns:IService1_RegisterDriverOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDriverOwnerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDriverOwnerById" message="tns:IService1_GetDriverOwnerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDriverOwnerByIdResponse" message="tns:IService1_GetDriverOwnerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removePenalty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removePenalty" message="tns:IService1_removePenalty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removePenaltyResponse" message="tns:IService1_removePenalty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAvailableCarTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAvailableCarTypes" message="tns:IService1_getAvailableCarTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAvailableCarTypesResponse" message="tns:IService1_getAvailableCarTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRegByRegNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getRegByRegNum" message="tns:IService1_getRegByRegNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getRegByRegNumResponse" message="tns:IService1_getRegByRegNum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByIdAndPass">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserByIdAndPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReadOnlyUserById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetReadOnlyUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserAndGetGeneratedId">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertUserAndGetGeneratedId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCat">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRegistration">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterDriverOwner">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterDriverOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriverOwnerById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDriverOwnerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removePenalty">
      <soap:operation soapAction="http://tempuri.org/IService1/removePenalty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailableCarTypes">
      <soap:operation soapAction="http://tempuri.org/IService1/getAvailableCarTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegByRegNum">
      <soap:operation soapAction="http://tempuri.org/IService1/getRegByRegNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFDBService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>